<div class="container mr-3 h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 page-content text-center">
            <div class="shadow">
            <div id="sliderContainer" role="tablist" aria-multiselectable="true">
            </div>
            </div>
        </div>
    </div>
</div>
 
<input type="hidden" id="MenuGuid" name="MenuGuid" value="@ViewBag.MenuGuid">

@section scripts
{
    <script type="text/javascript" src="~/js/home.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" nonce="@ViewBag.ScriptNonce">
       
        $(document).ready(function() {
            Home.Index();    
        });
 
    </script>
}
