@{
    int authorAge = new DateTime(1967, 07, 01).Age();
}  
<!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">What is this all about?</p>
                  <h2 class="section-title">About My Project And Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Project section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Content part-->
                <div class="col-12">
                  <div class="info-content">
                    <h2 class="content-subtitle">What is this project?</h2>
                    <h6 class="content-title">Customizable Menu</h6>
                    <div class="content-description">
                      <p>This is a project I developed to help in keeping track of the multitude of url's I use on any given day.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="_content/ClassLibrary.Mvc/img/Me.jpg" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">Who am i?</h2>
                    <h6 class="content-title">I'm a vintage Developer</h6>
                    <div class="content-description">
                      <p>Began my carrier from the ground up. Working in computer operations for several years, maturing into applications development. Exposed to everything from Cobol, Basic, Java and now C Sharp.</p>
                      <p>Pride myself on never being satisfied but rather looking to revamp and enhance antiquated processes.</p>
                      <p>Happy to have been at the onset of the digital revolution and excited to carry forward into the new information frontier.</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Chris Cavell</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:cdcavell@gmail.com">cdcavell@gmail.com</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>@authorAge</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>From:</span>
                          <p>Baton Rouge, Louisiana, US</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center">
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/christopher-d-cavell-6192113b" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/cdcavell/Customizable.Menu" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/CDCavell" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/cdcavell/" rel="external nofollow noopener noreferrer"><i class="icon ion-logo-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
