<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-toggleable-md fixed-top" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" data-scroll="" asp-controller="Home" asp-action="Index">
      <img class="img-fluid logo pb-1" src="_content/ClassLibrary.Mvc/img/icon-light.png" alt="Logo">
      <span class="text-light ml-1"><cameltag transform-text="@ViewBag.MenuTitle" /></span>
    </a>
    <span class="navbar-menu ml-auto" role="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="btn-line"></span>
    </span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="">Configure</a></li>
        @foreach (ClassLibrary.Data.Models.Menu menuItem in ViewBag.MenuItems)
        {
            <li class="nav-item nav-item-collapse"><a class="nav-link" href="/Home/Index/@menuItem.Guid">@menuItem.Description.Trim()</a></li>
        }
      </ul>
    </div>
  </div>
</nav>
