<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 page-content text-center">
            <div class="shadow">
            <div id="sliderContainer" role="tablist" aria-multiselectable="true">
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title text-secondary" id="addModalLabel">Modal title</h5>
        <button type="button" class="close add-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-auto my-1">
          <label id="addDescriptionLabel" class="mr-sm-2" for="addDescriptionText">Description</label>
          <input id="addDescriptionText" type="text" class="form-control" aria-label="Description">
        </div>       
        <div id="addEnvironmentDiv" class="col-auto my-1">
          <label id="addEnvironmentLabel" class="mr-sm-2" for="addEnvironmentSelect">Environment</label>
          <select id="addEnvironmentSelect" class="form-select" aria-label="Environment"></select>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary add-close" data-dismiss="modal">Close</button>
        <button id="add-save" type="button" class="btn btn-primary add-save">Add Item</button>
      </div>
    </div>
  </div>
</div> 

<input type="hidden" id="Guid" name="Guid">
<input type="hidden" id="EntityType" name="EntityType">

@section scripts
{
    <script type="text/javascript" src="~/js/configure.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" nonce="@ViewBag.ScriptNonce">
       
        $(document).ready(function() {
            Configure.Index();     
        });
 
    </script>
}
