<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 page-content text-center">


        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" nonce="@ViewBag.ScriptNonce">

        let Urls = {
            GetMenuList: "/Configure/GetMenuList"
        };

        let Model = { 
            Menus: EmptyMenu
        };

        $(document).ready(function() {

            ajaxPost(Urls.GetMenuList, VerificationToken, Model)
                .then(function (data) {
                    console.debug(data);
                })
                .catch((error) => {
                    ajaxError(error)
                });

        });
    
    </script>
}


